@media (max-width: 1060px) {
    .section {
        flex-direction: column;
        width: 500px;
        height: auto;
    }
    .section::after {
        display: none;
    }
    .text__0 {
        padding: 0 30px;
    }
}

@media (max-width: 575px) {
    body {
        padding: 10px 0px;
        flex-direction: column;
    }
    .section {
        flex-direction: column;
        width: 400px;

    }
    .text__0 {
        padding: 0 60px;
    }
}

@media (max-width: 420px) {
    .section {
        flex-direction: column;
        width: 250px;

    }
    .title__1 {
        font-size: 1.4rem;
    }
    .ruleof3__input {
        width: 60px;
    }
    #resultRuleOf3 {
        width: 60px;
    }
    #resultMultTable {
        padding: 0;
    }
}

@media (max-width: 300px) {
    footer {
        font-size: .8rem;
    }
    .section {
        width: 200px;
    }
    .title__1 {
        font-size: 1.2rem;
    }
}


