
/*SECTIONs*/
.section {
    display: none;
    place-content: center;
    background-color:  var(--sub-alt-color);
    border-radius: 20px;
    position: relative;
    flex-wrap: wrap;
    width: 850px;
    transform: translateY(-30px);
    height: 380px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--sub-alt-color);
    height: 25px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    align-items: center;
}

footer a {
    color: var(--main-color);
    text-decoration: underline;
}

.section.selected {
    display: flex;
    z-index: 1;
}

.section::after {
    content: "";
    height: 300px;
    width: 3px;
    position: absolute;
    background-color: var(--sub-color);
    border-radius: 50px;
    top: 12%;
    left: 50%;
}

.description {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    flex-direction: column;
    flex: 1;
    width: auto;
}

.content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1;
    word-wrap: break-word;

}


/*TITLEs*/
.title__1 {
    font-size: clamp(1rem, 2rem, 3rem);
    color: var(--sub-color);

}


/*TEXTs*/
.text__0 {
    color: var(--text-color);
    font-size: 1rem;
    
}

/*INPUTs*/
.input__text {

    background-color: inherit;
    border-bottom: solid var(--sub-color);
    height: 30px;
    color: var(--text-color);
    font-family: var(--roboto);
    text-align: center;

}

.input__text:focus {
    outline: none;
}

.input__text::placeholder {
    font-family: var(--roboto);
    font-size: 18px;
    text-transform: lowercase;
}

/*BUTTONs*/
.btn__0 {
    background-color: inherit;
    color: var(--sub-color);
    font-size: 20px;
    transition: all .2s;
    background-color: var(--bg-color);
    padding: 5px 25px;
    border-radius: 5px;
    text-transform: lowercase;
    transition: all .3s;
    display: flex;
    align-items: center;
}

.btn__0:active {
    outline: none;
    border: none;
    background-color: var(--bg-color);
}

.btn__0:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
    cursor: pointer;
}

.btn__arrow {
    transform: scale(1.5);
    border-radius: 50px;
    font-size: 25px;
    color: var(--sub-color);
    cursor: pointer;
    font-weight: 900;
}

.btn__arrow:hover {
    color: var(--text-color);
    transition: all .1s;
}

.btns__wrapper {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 80px;
    transform: translateY(-30px);
}


/*COLOUR VARIABLES*/
.yellow {
    color: var(--main-color);
    text-overflow: hidden;
    word-break: auto;
}

.red {
    color: var(--error-color);
}




/*MINIPROJECTS ADJUSTS*/

/*MARRY ME?*/
#btn__no:hover {
    background-color: var(--bg-color);
    color: var(--sub-color);
    transition: 0.05s;
}




/*RULE OF 3*/
.ruleof3__wrapper1, .ruleof3__wrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.ruleof3__input::placeholder, .ruleof3__input::placeholder {
    text-align: center;
    text-transform: uppercase;
}

.ruleof3__input {
    width: 150px;
    background-color: inherit;
    border-bottom: solid var(--sub-color);
    height: 30px;
    color: var(--sub-color);
    font-family: var(--roboto);
}

#resultRuleOf3 {
    transform: translateY(3px);
    width: 150px;
    height: 30px;
    background-color: var(--sub-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}




/*DICE*/
.img__dice {
    max-width: 150px;
    height: auto;
}



/*COUNTER*/
.btnCounter__wrapper {
    display: flex;
    gap: 3px;
}

#btn__reset .again {
    width: 15px;
}

#btn__reset:hover .again {
    animation: rotate .8s;
}




/*LAMP*/
#btn__lampOff:focus, #btn__lampOn:focus {
    color: var(--bg-color);
    background-color: var(--main-color);
}




