:root {
  /*COLORS*/
  --black__0: rgba(0, 0, 0,.2);
  --black__1: rgb(0, 0, 0);

  --grey__0: #3d3d3dff;
  --grey__1: #4d4d4fff;
  --grey__2: #666666ff;

  --white__0: rgba(255, 255, 255, 0.2);
  --white__1: rgb(255, 255, 255);
  --white__2: #dededeff;

  --pink__0: #eb1e70;
  --pink__1: rgb(172, 17, 79);

  /*FONTS*/
  --pixel: 'Pixelify Sans', sans-serif;
}
